// Main Color
$primary-color_1: black;
$primary-color_2: white;
$primary-color_3: #31a5b9;
$primary-color_4: #d23669;

// Secondary Color
$secondary-color_1: black;
$secondary-color_2: white; 

// Other color
$menu-shadow-color: rgba(0, 0, 0, 0.2);
$border-color: lighten($primary-color_4, 20%);

// spec
$header-height: 70px;
$extra-height: 15px;

//font
$font-default: 'Roboto', sans-serif;
$font-bold: 700;